@use 'var' as *;

.head {
	font-size: 30px;
	display: flex;
	height: 60px;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;	
	}
.nav-btn {
	display: none;
	border: none;	
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-top: 20px;
}
.head1{
	display: flex;
	width: 20%;
}
.head2 {
	display: flex;
	cursor: pointer;
	width: 40%;
	&>button {
		font-size: 20px;
		border: none;
		margin-right: 3px;
		padding: 4px;
	}
	&>button:hover {
		background-color: $color_3;
	}
}

@media(max-width:$breakpoint) {
	body {
		.head2 {
			display: none;
		}
		.nav-btn {
			display: flex;
			justify-content: right;
		}
		.nav-btn:hover {
			.head2 {
				display: block;
				position: absolute;
				color: $color_2;
				background-color: black;
				
			}
		}
	}
}