@use 'var' as *;
 *{
	padding: 0px;
	margin: 0px;
	background-color: $color_2;
	font-family: "Indie Flower", system-ui;
	font-weight: 400;
	font-style: normal;
	 }

.main {
	display: flex;
	padding-top: 20px;
	padding-left: 100px;
	justify-content: space-between;
	&>.main1 {
		display: flex;
		&>div>p {
			color:rgb(210, 182, 182)
		}
	}
	&>.main2 {
		display: flex;
		&>button {
			margin-right: 100px;
			cursor: pointer;
			border: none;
			font-size: 1.5em;
		}
		&>button:hover {
			background-color: $color_3;
		}
	}

}

@media(max-width:$breakpoint) {
	body {
		.main {
			display: block;
		}
	}

}