@use 'var' as *;

.nav {
	background-color: black;
	text-align: center;	
	&>button {
		margin-right: 10px;
		color: white;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
	&>button:hover {
		color: yellow;
	}
}

@media(max-width:$breakpoint) {
	body {
		.nav {
			display: none;
		}
	}

}